body {
}

#tweetIcon,#searchIcon{
    width:30px;
    vertical-align:middle;
}

#contTitle{
    text-align:center;
    font-size:1em;
     background-color: #87cbf3;
     margin-bottom:2%;
}


#searchSubmit{
    background-color: #87cbf3;
    width:25%;
    border-radius:10px;
}

#searchCont{
    text-align:center;
    margin-top:2%;
}

.form-group{
    text-align:center;
}

